<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <!-- limpieza de salon -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <label class="title" for="">Número de mesa
        </label>
        <br />
        <span>{{ data.data.tableN }}</span>
      </div>
      <div class="col-12 mb-2">
        <span>Limpieza en Salón
        </span>
      </div>
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.cleanlinessInSalon" type="checkbox" class="custom-control-input"
            id="cleanlinessInSalon">
          <label class="custom-control-label" for="cleanlinessInSalon">¿Se encuentra limpio?
          </label>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 1" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- limpieza en cubeta -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Limpieza en cubetas
        </span>
      </div>
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.cleaningInBuckets" type="checkbox" class="custom-control-input"
            id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">¿Se encuentra limpio?
          </label>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 2" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Limpieza booths -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Limpieza booths
        </span>
      </div>
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.cleaningBooths" type="checkbox" class="custom-control-input"
            id="cleaningBooths">
          <label class="custom-control-label" for="cleaningBooths">¿Se encuentra limpio?
          </label>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 3" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>



  </div>

</div>
<div class="modal-footer">
</div>
