<div class="container">
  <!-- header -->
  <div class="row">
    <div class="col-md-1 align-center">
      <img class="img-fluid" src="./assets/icon/ilustracion-regionales.png" alt="" />
    </div>
    <div class="col-md-11 align-center">
      <h4 class="title align-center">REGIONALES</h4>
    </div>
  </div>
  <!-- filtros -->
  <div class="row my-4">
    <div class="col-md-3 align-center">
      <h4 class="subtitle-negro">INFORME DE ACTIVIDAD</h4>
    </div>
  </div>
  <div class="row my-4">
    <ng-container *ngIf="user.roleId === 2; else AdminSectionB">
      <div class="col-md-3 align-center">
        <div class="form-group">
          <label class="non-margin" for="Sucursal">Sucursal</label>
          <select [disabled]="ciudad == undefined" (change)="getDataDash(sucursal, dateDash, dateDashTwo, isDone)" [(ngModel)]="sucursal" class="form-control" id="Sucursal">
            <option [value]="item.idfront" *ngFor="let item of catSucursal">{{item.titulo}}</option>
          </select>
        </div>
      </div>
    </ng-container>
    <ng-template #AdminSectionB>
      <div class="col-md-3 align-center">
        <div class="form-group">
          <label class="non-margin" for="Ciudad">Ciudad</label>
          <select (change)="getdataRegional(ciudad)" [(ngModel)]="ciudad" class="form-control" id="Ciudad">
            <option [value]="item.id" *ngFor="let item of catState">{{item.state}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 align-center">
        <div class="form-group">
          <label class="non-margin" for="Ciudad">Regional</label>
          <select (change)="getdataSucursal(regional)" [(ngModel)]="regional" class="form-control" id="Regional">
            <option [value]="item.id" *ngFor="let item of catRegionales">{{item.name}} {{item.lastName}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 align-center">
        <div class="form-group">
          <label class="non-margin" for="Sucursal2">Sucursal</label>
          <select [disabled]="ciudad == undefined" (change)="getDataDash(sucursal, dateDash, dateDashTwo, isDone)" [(ngModel)]="sucursal" class="form-control" id="Sucursal2">
            <option [value]="item.idfront" *ngFor="let item of catSucursal">{{item.titulo}}</option>
          </select>
        </div>
      </div>
    </ng-template>
    <div class="col-md-3 align-center">
      <div class="form-group">
        <label class="non-margin" for="Sucursal">Completado</label>
        <select (change)="getDataDash(sucursal, dateDash, dateDashTwo, isDone)" [(ngModel)]="isDone" class="form-control" id="Sucursal">
          <option [value]="item.id" *ngFor="let item of catCompletado">{{item.text}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 align-center">
      <div class="form-group">
        <label for="fechaInicial">Fechas</label>
        <div class="input-group">
          <input onkeydown="return false" id="fechaInicial" class="form-control" type="date" placeholder="yyyy-mm-dd"
            [(ngModel)]="dateDash" (ngModelChange)="getDataDash(sucursal, dateDash, dateDashTwo, isDone)" />
        </div>
      </div>
    </div>
    <div class="col-md-3 align-center">
      <div class="form-group">
        <label for="fechaFinal"></label>
        <div class="input-group">
          <input onkeydown="return false" id="fechaFinal" class="form-control" type="date" placeholder="yyyy-mm-dd"
            [(ngModel)]="dateDashTwo" (ngModelChange)="getDataDash(sucursal, dateDash, dateDashTwo, isDone)" />
        </div>
      </div>
    </div>
  </div>

  <!-- informacion sucursal y fechas -->
  <div class="row my-4" *ngIf="data">
    <div class="col-4 col-md-1 col-sm-4 align-center">
      <img class="img-fluid" src="./assets/icon/sucursal.png" alt="" />
    </div>
    <div class="col-8 col-md-3 col-sm-8 align-center">
      <h5 class="subtitle-negro">SUCURSAL {{nameBranch}}</h5>
    </div>
    <div class="col-12 col-md-4 col-sm-12 align-center">
      <span class="date-grey">
        {{ dateDash | date: "dd MMM yyy" }}
      </span>
    </div>
    <div class="col-4 align-center">
    </div>
  </div>

  <!-- tarjetas de informacion -->
  <div class="row my-4" *ngIf="data">
    <!-- omision -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-12 my-2">
              <div class="text-center">
                <h5>Omisión de Actividades</h5>
              </div>
            </div>
            <div class="col-12 my-2">
              <div class="text-center">
                <span class="card_porcentage">{{data.omissionsActivities | number: '.1-2'}}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ticket -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-12 my-2">
              <div class="text-center">
                <h5>Tickets levantados</h5>
              </div>
            </div>
            <div class="col-12 my-2">
              <div class="text-center">
                <span class="card_porcentage">{{data.tickets}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ticket -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-12 my-2">
              <div class="text-center">
                <h5>Evaluación promedio</h5>
              </div>
            </div>
            <div class="col-12 my-2">
              <div class="text-center">
                <span class="card_porcentage">{{data.averageEvaluation | number }} <i
                    class="bi bi-star-fill text-warning"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- menu seccionado -->
  <div class="row my4" *ngIf="data" >
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item cocina-ul">
          <a class="nav-link px-5 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">COCINA</a>
        </li>
        <li class="nav-item cocina-ul">
          <a class="nav-link px-5" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">SALÓN</a>
        </li>
        <li class="nav-item cocina-ul">
          <a class="nav-link px-5" id="bano-tab" data-toggle="tab" href="#bano" role="tab" aria-controls="bano"
            aria-selected="false">BAÑO</a>
        </li>
        <li class="nav-item cocina-ul">
          <a class="nav-link px-5" id="sistema-tab" data-toggle="tab" href="#sistema" role="tab" aria-controls="sistema"
            aria-selected="false">SISTEMA Y CAJA</a>
        </li>
        <li class="nav-item cocina-ul">
          <a class="nav-link px-5" id="mantenimiento-tab" data-toggle="tab" href="#mantenimiento" role="tab"
            aria-controls="mantenimiento" aria-selected="false">MANTENIMIENTO</a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <div class="tab-content" id="myTabContent">
        <!-- cocina  1-->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table class="table">
            <thead class="thead-warning header_table">
              <tr>
                <th scope="col">Nombre de la tarea</th>
                <th scope="col">Regional asignado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Porcentaje completado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.tasksKitchenCollection">
                <th scope="row">{{item.name}}</th>
                <td>{{item.regional}}</td>
                <td>{{ item.date | date: "dd MMM yyy" }}</td>
                <td>{{item.percentageComplete | number: '.1-2'}}%</td>
                <td>
                  <img *ngIf="item.status === 1" src="./assets/icon/icon-asisti.svg" alt="asistio" width="32" height="32">
                  <img *ngIf="item.status !== 1" src="./assets/icon/icon-falt.svg" alt="asistio" width="32" height="32">
                </td>
                <td>
                  <img *ngIf="item.detail !== 0" (click)="detail(item, 1, ciudad)" src="./assets/icon/ilustracion-ver.svg" alt="asistio" width="32" height="32">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- salon 2-->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table">
            <thead class="thead-warning header_table">
              <tr>
                <th scope="col">Nombre de la tarea</th>
                <th scope="col">Regional asignado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Porcentaje completado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.tasksSalonCollection">
                <th scope="row">{{item.name}}</th>
                <td>{{item.regional}}</td>
                <td>{{ item.date | date: "dd MMM yyy" }}</td>
                <td>{{item.percentageComplete | number: '.1-2'}}%</td>
                <td>
                  <img *ngIf="item.status === 1" src="./assets/icon/icon-asisti.svg" alt="asistio" width="32" height="32">
                  <img *ngIf="item.status !== 1" src="./assets/icon/icon-falt.svg" alt="asistio" width="32" height="32">
                </td>
                <td>
                  <img   src="./assets/icon/ilustracion-ver.svg" *ngIf="item.detail !== 0" (click)="detail(item, 2, ciudad)"  alt="asistio" width="32" height="32">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- baño 3-->
        <div class="tab-pane fade" id="bano" role="tabpanel" aria-labelledby="bano-tab">
          <table class="table">
            <thead class="thead-warning header_table">
              <tr>
                <th scope="col">Nombre de la tarea</th>
                <th scope="col">Regional asignado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Porcentaje completado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.tasksBathroomsCollection">
                <th scope="row">{{item.name}}</th>
                <td>{{item.regional}}</td>
                <td>{{ item.date | date: "dd MMM yyy" }}</td>
                <td>{{item.percentageComplete | number: '.1-2'}}%</td>
                <td>
                  <img *ngIf="item.status === 1" src="./assets/icon/icon-asisti.svg" alt="asistio" width="32" height="32">
                  <img *ngIf="item.status !== 1" src="./assets/icon/icon-falt.svg" alt="asistio" width="32" height="32">
                </td>
                <td>
                  <img *ngIf="item.detail !== 0" (click)="detail(item,3, ciudad)" src="./assets/icon/ilustracion-ver.svg" alt="asistio" width="32" height="32">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- sistema y caja  4-->
        <div class="tab-pane fade" id="sistema" role="tabpanel" aria-labelledby="sistema-tab">
          <table class="table">
            <thead class="thead-warning header_table">
              <tr>
                <th scope="col">Nombre de la tarea</th>
                <th scope="col">Regional asignado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Porcentaje completado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.tasksSystemCollection">
                <th scope="row">{{item.name}}</th>
                <td>{{item.regional}}</td>
                <td>{{ item.date | date: "dd MMM yyy" }}</td>
                <td>{{item.percentageComplete | number: '.1-2'}}%</td>
                <td>
                  <img *ngIf="item.status === 1" src="./assets/icon/icon-asisti.svg" alt="asistio" width="32" height="32">
                  <img *ngIf="item.status !== 1" src="./assets/icon/icon-falt.svg" alt="asistio" width="32" height="32">
                </td>
                <td>
                  <img *ngIf="item.detail !== 0" (click)="detail(item, 4, ciudad)" src="./assets/icon/ilustracion-ver.svg" alt="asistio" width="32" height="32">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- mantenimiento 5-->
        <div class="tab-pane fade" id="mantenimiento" role="tabpanel" aria-labelledby="mantenimiento-tab">
          <table class="table">
            <thead class="thead-warning header_table">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Regional</th>
                <th scope="col">Fecha</th>
                <th scope="col">Porcentaje completado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.tasksMaintenanceCollection">
                <th scope="row">{{item.name}}</th>
                <td>{{item.regional}}</td>
                <td>{{ item.date | date: "dd MMM yyy" }}</td>
                <td>{{item.percentageComplete | number: '.1-2'}}%</td>
                <td>
                  <img *ngIf="item.status === 1" src="./assets/icon/icon-asisti.svg" alt="asistio" width="32"
                    height="32">
                  <img *ngIf="item.status !== 1" src="./assets/icon/icon-falt.svg" alt="asistio" width="32"
                    height="32">
                </td>
                <td>
                  <img *ngIf="item.detail !== 0" (click)="detail(item, 5, ciudad)" src="./assets/icon/ilustracion-ver.svg" alt="asistio" width="32" height="32">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
