<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <!-- body -->
    <!-- nujeres -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
          <label class="title" for="">Revisión de mesa</label>
          <br />
          <span>{{ data.data.numTable }}</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.productOne" type="checkbox" class="custom-control-input"
            id="productOne">
          <label class="custom-control-label" for="productOne">¿Está en la mesa el producto 1?
          </label>
        </div>
      </div>
      <div *ngIf="data.data.productOne === false" class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentProductOne }}</span>
      </div>

      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.productTwo" type="checkbox" class="custom-control-input"
            id="productTwo">
          <label class="custom-control-label" for="productTwo">¿Está en la mesa el producto 2?
          </label>
        </div>
      </div>
      <div *ngIf="data.data.productTwo === false" class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentProductTwo }}</span>
      </div>
    </div>
    <!-- producto 3  -->
    <div class="row mb-4">

      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.productThree" type="checkbox" class="custom-control-input"
            id="productThree">
          <label class="custom-control-label" for="productThree">¿Está en la mesa el producto 3?
          </label>
        </div>
      </div>
      <div *ngIf="data.data.productThree === false" class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentProductThree }}</span>
      </div>

      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.productFour" type="checkbox" class="custom-control-input"
            id="productFour">
          <label class="custom-control-label" for="productFour">¿Está en la mesa el producto 4?
          </label>
        </div>
      </div>
      <div *ngIf="data.data.productFour === false" class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentProductFour }}</span>
      </div>
    </div>
  </div>


  <div class="modal-footer">
  </div>
</div>
