<div class="container" *ngIf="param">
  <!--***********data********************-->
  <div class="row" id="idscroll">
    <div class="col-10">
      <h4 class="title" *ngIf="param.id == 0">CREAR USUARIO</h4>
      <h4 class="title" *ngIf="param.id != 0">ACTUALIZAR USUARIO</h4>
    </div>
    <div class="col-2 align-btn">
      <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-9">
      <h4 class="subtitle-negro align-center">INFORMACIÓN</h4>
    </div>
    <div class="col-3">
      <button (click)="save()" style="background-color: #d0122d; border-radius: 16px" type="button" class="btn">
        GUARDAR
      </button>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <!-- inputs -->
      <div class="col-6">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input required type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="data.name" />
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeNombre">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="lastName">Apellido Paterno</label>
          <input required type="text" class="form-control" id="lastName" placeholder="Apellido Paterno"
            [(ngModel)]="data.lastName" />
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeNombre">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="motherName">Apellido Materno</label>
          <input required type="text" class="form-control" id="motherName" placeholder="Apellido Materno"
            [(ngModel)]="data.motherName" />
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeNombre">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="email">Correo</label>
          <input required type="email" class="form-control" id="email" placeholder="Correo" [(ngModel)]="data.email" />
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeNombre">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="turno">Rol</label>
          <select type="number" [(ngModel)]="data.roleId" class="form-control" id="turno" (focus)="activeTurno = false"
            required>
            <option [ngValue]="1">Supervisor</option>
            <option [ngValue]="2">Regional</option>
            <option [ngValue]="3">Administrador</option>

          </select>
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeTurno">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="estado">Estado</label>
          <select type="number" [(ngModel)]="data.stateId" class="form-control" id="estado" required
            (ngModelChange)="getCatalogSucursal(data.stateId)">
            <option *ngFor="let item of catalogState" [value]="item.id">{{item.state}}</option>
          </select>
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeTurno">Campo requerido</span> -->
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="sucursalStarte">Sucursal</label>
          <select [disabled]="data.stateId == undefined" type="number" [(ngModel)]="data.sucursalId"
            class="form-control" id="sucursalStarte" required>
            <option *ngFor="let item of catalogSucursal" [value]="item.idfront">{{item.titulo}}</option>
          </select>
        </div>
        <!-- <span style="color: #ad182d; font-size: 12px" *ngIf="activeTurno">Campo requerido</span> -->
      </div>



      <!-- sucursal -->
      <!-- <div class="col-6" *ngIf="data.roleId === 1">
        <div class="form-group">
          <label for="sucursal">Sucursal</label>
          <select class="form-control" id="sucursal" (focus)="activeSucursal = false" required
            [(ngModel)]="data.branchId">
            <option *ngFor="let item of dataBranch" [value]="item.branchId">{{ item.branchName}}</option>
          </select>
        </div>
        <span style="color: #ad182d; font-size: 12px" *ngIf="activeSucursal">Campo requerido</span>
      </div> -->
      <div *ngIf="param.id !== 0" class="col-12" class="title align-center my-3">
        <span (click)="changePass(data.email)">Cambiar Contraseña</span>
      </div>

    </div>
  </div>

</div>
