<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <!-- body -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Tarjas</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.sink" type="checkbox" class="custom-control-input" id="sink">
          <label class="custom-control-label" for="sink">¿Sujetas y sin fugas?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentSink }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img  *ngIf="photo.type === 1"  src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Mezcladoras -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Mezcladoras</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.mixer" type="checkbox" class="custom-control-input" id="mixer">
          <label class="custom-control-label" for="mixer">¿Funcionando?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentMixer }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 2" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Coladeras -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Coladeras</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.strainer" type="checkbox" class="custom-control-input" id="strainer">
          <label class="custom-control-label" for="strainer">¿Fijas con trampas de olor y tornillería?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentStrainer }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 3" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Freidoras -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Freidoras</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.fryer" type="checkbox" class="custom-control-input" id="fryer">
          <label class="custom-control-label" for="fryer">¿Temperatura exacta?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentFryer }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 4" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Extracción -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Extracción</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.extractor" type="checkbox" class="custom-control-input" id="extractor">
          <label class="custom-control-label" for="extractor">¿En buen estado?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentExtractor }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 5" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Refrigeradores -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Refrigeradores</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.refrigerator" type="checkbox" class="custom-control-input" id="refrigerator">
          <label class="custom-control-label" for="refrigerator">¿En buen estado?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentRefrigerator }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 9" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Temperatura interior -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Refrigeradores</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.interiorTemperature" type="checkbox" class="custom-control-input"
            id="interiorTemperature">
          <label class="custom-control-label" for="interiorTemperature">¿Temperatura correcta?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentInteriorTemperature }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 6" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Puertas -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Refrigeradores</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.doors" type="checkbox" class="custom-control-input"
            id="doors">
          <label class="custom-control-label" for="doors">¿Las puertas sellan correctamente?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentDoors }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 7" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Distancia correcta hacia la pared -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Refrigeradores</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.correctDistance" type="checkbox" class="custom-control-input" id="correctDistance">
          <label class="custom-control-label" for="correctDistance">¿Tiene la distancia correcta hacia la pared?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentCorrectDistance }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 8" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Conexiones eléctricas -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Conexiones eléctricas</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.electricalConnections" type="checkbox" class="custom-control-input"
            id="electricalConnections">
          <label class="custom-control-label" for="electricalConnections">¿Es buen estado?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentElectricalConnections }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 10" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Luminarias -->
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <span>Luminarias</span>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.luminaires" type="checkbox" class="custom-control-input"
            id="luminaires">
          <label class="custom-control-label" for="luminaires">Completas y funionando</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentLuminaires }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img *ngIf="photo.type === 11" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <!-- <button style="border-radius: 23px" [disabled]="disabled == true" (click)="save()" type="button"
      class="btn btn-danger btn-md">
      Guardar
    </button> -->
  </div>
</div>
