.title {
  font-weight: bold;
  margin: 0;
}
.subtitle {
  color: #1d1d1b;
  font-weight: bold;
  font-size: large;
  align-self: center;
}
.align-btn {
  align-content: end;
  text-align: end;
}
.modal-header {
  display: block;
}


.date-grey {
  font-weight: 500;
  color: grey;
}
.scroll {
  display: block;
  height: 20rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.titleSucursal {
  color: #ad182d;
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
