<div class="sidebar-wrapper">
  <div class="logo" style="background-color: #1d1d1b">
    <div style="text-align: center" class="simple-text logo-normal">
      <img style="width: 27%" src="./assets/RW_LogoWEB.png" alt="">
    </div>
  </div>

  <ul id="accordionExample" class="nav flex-column">
    <li *ngFor="let menuItem of menuItems; index as i;" routerLinkActive="active" class="nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]" data-toggle="collapse" [attr.data-target]="'#' + menuItem.id"
        aria-expanded="true" [attr.aria-controls]="menuItem.id">
        <img alt="" src="./assets/icon/{{menuItem.icon}}.svg" />
        <span>{{ menuItem.title }}</span>
      </a>
      <div class="collapse" [id]="menuItem.id" [name]="menuItem.id">
        <ul class="collapse show" data-parent="#accordionExample">
          <li *ngFor="let menuSoon of menuItem.children" routerLinkActive="active" class="{{ menuSoon.class }}">
            <a [routerLink]="[menuSoon.access.indexOf(user.roleId) !== -1 ? menuSoon.path : null]">
              <img alt="" src="./assets/icon/{{menuSoon.icon}}.svg" />
              <span>{{ menuSoon.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
