<div class="container">
  <!-- header -->
  <div class="row">
    <div class="col-4 col-md-1 ">
      <img width="100%" class="img-fluid" src="./assets/icon/ilustracion-regionales.png" alt="" />
    </div>
    <div class="col-8 col-md-5">
      <span class="title ">Usuarios</span>
    </div>
    <div class="col-12 col-md-6 end">
      <button (click)="addUser(0)" style="background-color: #fbb03b; border-radius: 16px" type="button" class="btn">
        CREAR USUARIO
      </button>
    </div>
  </div>
  <div class="row ">

  </div>

  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col-4">Nombre</th>
          <th scope="col-3">Rol</th>
          <th scope="col-3">Email</th>
          <th scope="col-2">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data" >
          <td class="col-4">
            <div class="row">
              <div class="col-3">
                <img src="./assets/icon/sucursal.png" alt="" />
              </div>
              <div class="col-9">
                <span>{{ item.name }} {{item.lastName}}</span>
              </div>
            </div>
          </td>
          <td class="col-3">
            <span *ngIf="item.roleId === 3">Administrador</span>
            <span *ngIf="item.roleId === 2">Regional</span>
            <span *ngIf="item.roleId === 1">Supervisor</span>
          </td>
          <td class="col-3">{{item.email}}</td>
          <td class="col-2">
            <h5>
              <i style="color: #cf3c4f;" class="bi bi-pencil" (click)="addUser(item.id)"></i>
            </h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
