<div class="container">
  <!-- header -->
  <div class="row">
    <div class="col-md-1 align-center">
      <img class="img-fluid" src="./assets/icon/ilustracion-regionales.png" alt="" />
    </div>
    <div class="col-md-11 align-center">
      <h4 class="title align-center">Usuarios</h4>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-3 offset-md-9">
      <button (click)="addUser(0)" style="background-color: #fbb03b; border-radius: 16px" type="button" class="btn">
        CREAR USUARIO
      </button>
    </div>
  </div>

  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col-3">Nombre</th>
          <th scope="col-3">Rol</th>
          <th scope="col-2">Email</th>
          <th scope="col-2">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data" >
          <td class="col-3">
            <div class="row">
              <div class="col-3">
                <img src="./assets/icon/sucursal.png" alt="" />
              </div>
              <div class="col-9">
                <span>{{ item.name }} {{item.lastName}}</span>
              </div>
            </div>
          </td>
          <td class="col-3">
            <span *ngIf="item.roleId === 3">Administrador</span>
            <span *ngIf="item.roleId === 2">Regional</span>
            <span *ngIf="item.roleId === 1">Supervisor</span>
          </td>
          <td class="col-2">{{item.email}}</td>
          <td class="col-2">
            <i class="bi bi-pencil" (click)="addUser(item.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
