.title {
  font-weight: bold;
  margin: 0;
}
.subtitle {
  color: #1d1d1b;
  font-weight: bold;
  font-size: large;
  align-self: center;
}
.align-btn {
  align-content: end;
  text-align: end;
}
.modal-header {
  display: block;
}

.date-grey {
  font-weight: 500;
  color: grey;
}
.scroll {
  display: block;
  height: 20rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.titleSucursal {
  color: #ad182d;
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

#customSwitch1 {
  --background: #f3f3f3;
  --background-checked: #26a844;
  --handle-background: #ad182d;
  --handle-background-checked: white;
}
#customSwitch1[aria-checked="false"]::before {
  position: absolute;
  content: "";
}
#customSwitch1[aria-checked="false"]::after {
  position: absolute;
  content: "NO";
  color: #ad182d;
  font-size: 10px;
  left: 33px;
  top: 8px;
}
#customSwitch1[aria-checked="true"]::before {
  position: absolute;
  content: "";
}
#customSwitch1[aria-checked="true"]::after {
  position: absolute;
  content: "SI";
  font-size: 10px;
  left: 16px;
  top: 9px;
  color: #fff;
}
