<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <label class="title" for="">Producto en riesgo</label>
        <br />
        <span>{{ data.data.product }}</span>
      </div>
      <div class="col-12 mb-2">
        <label class="title" for="">Código del paquete
        </label>
        <br />
        <span>{{ data.data.code }}</span>
      </div>
      <br>
      <div class="col-12 mb-2">
        <label class="title" for="">Comentario
        </label>
        <br />
        <span>{{ data.data.comment }}</span>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <!-- <button style="border-radius: 23px" [disabled]="disabled == true" (click)="save()" type="button"
      class="btn btn-danger btn-md">
      Guardar
    </button> -->
  </div>
</div>
