<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <!-- body -->
    <div class="row mb-4">
      <div class="col-12">
        <label class="title" for="">Funcionan</label>
      </div>
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.brokenSpotlight" type="checkbox" class="custom-control-input"
            id="brokenSpotlight">
          <label class="custom-control-label" for="brokenSpotlight">¿Todos los focos funcionan correctamente?</label>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentFoco }}</span>
      </div>
      <div class="col-12">
        <label class="title" for="">Fotografías Funcionan</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of photosA; index as position">
            <img *ngIf="photo.type === 1" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Autorizados</label>
      </div>
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.isThereOk" type="checkbox" class="custom-control-input"
            id="brokenSpotlight">
          <label class="custom-control-label" for="brokenSpotlight">¿Son los focos autorizados?</label>
        </div>
      </div>
      <div class="col-12">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.commentAutorizados }}</span>
      </div>
      <!--PHOTOS-->
      <div class="col-12">
        <label class="title" for="">Fotografías Autorizados</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of photosB; index as position">
            <img *ngIf="photo.type === 2" src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

  </div>
</div>
