<div class="container">
  <div class="row">
    <div class="col-1 align-center">
      <img
        class="img-fluid"
        src="./assets/icon/ilustracion_asistencias.png"
        alt=""
      />
    </div>
    <div class="col-11 align-center">
      <h4 class="title align-center">SUCURSALES</h4>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-3 offset-md-9">
      <button
        style="background-color: #fbb03b; border-radius: 16px"
        type="button"
        class="btn"
      >
        AGREGAR SUCURSAL
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sucursal</th>
            <th scope="col"></th>
            <th scope="col">Dirección</th>
            <th scope="col">Regional</th>
            <th scope="col">Supervisores</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <img class="img-size" src="./assets/icon/ilustracion_asistencias.png" alt="" />
            </th>
            <td>Sucursal Masarik</td>
            <td>
              Calle Lorem ipsum #345 Local 4. Fusce nunc magna, Col. Curabitur
              CP. 13453, Tlalpan, CDMX.
            </td>
            <td>Roberto Carlos</td>
            <td>Pepe Charales</td>
            <td>
              <i class="bi bi-pencil text-warning"></i>
              <i class="bi bi-trash text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <img class="img-size" src="./assets/icon/ilustracion_asistencias.png" alt="" />
            </th>
            <td>Sucursal Masarik</td>
            <td>
              Calle Lorem ipsum #345 Local 4. Fusce nunc magna, Col. Curabitur
              CP. 13453, Tlalpan, CDMX.
            </td>
            <td>Roberto Carlos</td>
            <td>Pepe Charales</td>
            <td>
              <i class="bi bi-pencil text-warning"></i>
              <i class="bi bi-trash text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <img  class="img-size" src="./assets/icon/ilustracion_asistencias.png" alt="" />
            </th>
            <td>Sucursal Masarik</td>
            <td>
              Calle Lorem ipsum #345 Local 4. Fusce nunc magna, Col. Curabitur
              CP. 13453, Tlalpan, CDMX.
            </td>
            <td>Roberto Carlos</td>
            <td>Pepe Charales</td>
            <td>
              <i class="bi bi-pencil text-warning"></i>
              <i class="bi bi-trash text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
