<div class="container" tabindex="-1" *ngIf="data">
  <div class="modal-header">
    <div class="row">
      <div class="col-10">
        <h4 class="title">{{data.name}}</h4>
      </div>
      <div class="col-2 align-btn">
        <i style="cursor: pointer; color: #cf3c4f" (click)="close()" class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="modal-body scroll" data-bs-spy="scroll">
    <div class="row mb-4">
      <div class="col-2">
        <img src="./assets/icon/sucursal.png" alt="" />
      </div>
      <div class="col-10 subtitle">
        <span>Sucursal {{ nameBranch }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="date-grey ">{{data.data.createdDate | date: "dd MMM yyy" }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.layOut" type="checkbox" class="custom-control-input"
            id="layOut">
          <label class="custom-control-label" for="layOut">¿Los refrigeradores están acomodados de acuerdo al Lay Out?</label>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="custom-control custom-switch">
          <input disabled [(ngModel)]="data.data.shortage" type="checkbox" class="custom-control-input" id="shortage">
          <label class="custom-control-label" for="shortage">¿Hay algún faltante de producto en refrigerador?</label>
        </div>
      </div>

      <div class="col-12 mb-2">
        <label class="title" for="">Comentario</label>
        <br />
        <span>{{ data.data.comment }}</span>
      </div>

    </div>
    <div class="row mb-4">
      <div class="col-12">
        <label class="title" for="">Fotografías</label>
        <div class="row">
          <div class="col-4" *ngFor="let photo of data.photos; index as position">
            <img src="{{ url }}{{ photo.photo }}" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

  </div>
</div>
